* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat',
    sans-serif;
}

.mobile-wrap {
  padding-bottom: 100px;
}

.mobile-container {
  max-width: 575px;
  width: 100%;
  margin: auto;
  padding: 0 25px;
  position: relative;
}

.head {
  min-height: 56px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(143, 143, 143, 0.1);
  margin-bottom: 10px;

  .mobile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: $mc;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__back {
    color: $gc;
    text-decoration: none;
  }

  .basket {
    color: $gc;
    font-size: 25px;
    text-decoration: none;

    &.notification {
      position: relative;

      &:after {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        background-color: $mc;
        border-radius: 100%;
        top: 0;
        left: 100%;
      }
    }
  }
}

.btn {
  border-radius: 10px;
  background-color: $mc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: $wc;
  font-size: 18px;
  line-height: 21.94px;
  text-decoration: none;
  transition: $tr;
  min-height: 50px;
  padding: 14px 5px;
  border: none;

  &:hover {
    background-color: #FD384C;
  }
}


.rating-widget {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      list-style-type: none;
      color: #ccc;

      &.selected {
        color: #FFB400;
      }

      i {
        &:before {
          margin: 0 1px;
        }
      }
    }
  }
}

.text {
  color: $gc;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.rating-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.list {
  li {
    list-style-type: none;
    margin-bottom: 30px;

    * {
      font-size: 16px;
      line-height: 25.26px;
      font-weight: 400;
      color: $gc;
      text-decoration: none;
    }

    i {
      color: $mc;
      margin-right: 15px;
    }

  }
}

#map {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  min-height: 165px;
}

.count {
  display: flex;
  align-items: center;

  .count-minus,
  .count-plus {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(143, 143, 143, 0.5);
    color: $wc;

    i {
      font-size: 25px;
    }
  }

  .counter {
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.07px;
    width: 30px;
    text-align: center;
    outline: none;
    pointer-events: none;
  }
}

.description {
  &__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  &__ul {
    margin-bottom: 20px;

    li {
      color: $gc;
      font-weight: 400;
      font-size: 14px;
      line-height: 17.07px;
      list-style: none;
      padding-left: 10px;
      position: relative;
      margin-bottom: 5px;

      &:before {
        position: absolute;
        content: '';
        width: 2px;
        height: 2px;
        border-radius: 100%;
        background-color: $gc;
        left: 0;
        top: 8px;
      }
    }
  }

  .text {
    font-size: 14px;
  }
}


.swipe {
  height: calc(100vh - 131px);
  overflow: hidden;
  white-space: nowrap;
  margin-top: -10px;

  .mobile-container {
    padding: 0;
  }

  .swipe__item {
    width: 100%;
    height: 100%;
    background-color: $mc;
    display: inline-block;
    transform-origin: bottom;
    position: relative;

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .mobile-container,
  .swiper,
  .swiper-wrapper,
  .swiper-slide {
    height: 100%;
  }

  .swiper-slide {
    &.swiper-slide-prev {
      .swipe__item {
        transform: translateY(-40px) translateX(-100%) rotate(-60deg);
        transition: all .4s ease-in-out;
        transition-delay: .1s;
      }
    }

    &.swiper-slide-next {
      .swipe__item {
        transform: translateY(-40px) translateX(100%) rotate(60deg);
        transition: all .4s ease-in-out;
        transition-delay: .1s;
      }
    }

    &.swiper-slide-active {
      .swipe__item {
        transform: translate(0) rotate(0);
        transition: all .4s ease-in-out;
        transition-delay: .1s;
      }
    }
  }
}