.control-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  filter: drop-shadow(0px -2px 11px rgba(0, 0, 0, 0.1));
  height: 75px;
  background-color: $wc;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 0;

  &__item {
    transition: $tr;
    color: $gc;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    padding: 15px 0;

    path {
      transition: $tr;
    }

    &.active,
    &:hover {
      color: $mc;

      path {
        stroke: $mc;
      }
    }

    &:last-child {
      .control-panel__icon {
        align-items: flex-end;
        height: 25px;
      }

      &:hover {
        path {
          fill: $mc;
          stroke: transparent;
        }
      }
    }
  }

  &__name {
    font-size: 10px;
    line-height: 12.19px;
    font-weight: 700;
  }

  &__icon {
    height: 30px;
    display: flex;
    align-items: center;
  }

  &__item {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}