.marathon {
  overflow: hidden;

  .mc {
    color: $mc;
  }

  .sc {
    color: $sc;
  }

  .bc {
    color: $bc;
  }

  &__top {
    text-align: center;
  }

  &__img {
    max-width: 75px;
    height: 75px;
    width: 100%;
    border-radius: 100%;
    overflow: hidden;
    margin: 20px auto 15px;

    img {
      width: 100%;
    }
  }

  &__emoji {
    max-width: 36px;
    width: 100%;
    margin: 22px auto 49px;

    img {
      width: 100%;
    }
  }

  &__table-wrap {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &__table {
    display: table-cell;
    white-space: nowrap;
  }

  &__table-item {
    background-color: $wc;
    border: 1px solid rgba(51, 51, 51, 0.2);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 5px 10px;
    min-height: 30px;
    display: table;
    margin-bottom: 10px;

    &--empty {
      border: none;
      box-shadow: none;
      margin: 0;
    }
  }

  &__item-td {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    position: relative;

    &--name {
      min-width: 160px;
    }

    &--empty {
      min-width: 160px;
    }
  }

  &__item-date {
    color: $gc;
    font-size: 10px;
  }

  &__item-name {
    font-size: 14px;
    color: $bc;
    padding-left: 25px;
    width: 100%;
  }

  &__index {
    display: flex;
  }

  &__item-star {
    width: 13px;
    height: 9px;
    background: #FFB400;
    border: 1px solid #333333;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -7px;
    position: relative;

    &:before {
      position: absolute;
      content: '\e80a';
      font-family: icon;
      font-size: 11px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

  }

  &__item-arrow {
    position: relative;
    width: 10px;
    margin-left: 5px;
    
    &:before {
      position: absolute;
      content: '\e804';
      font-family: icon;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--up {
      &:before {
        color: $mc;
      }
    }

    &--down {
      &:before {
        color: $sc;
        transform: rotate(180deg);
        left: -2px;
        top: -10px;
      }
    }
  }

  &__item-num {
    font-size: 12px;
    color: $bc;
  }

  &__table-item-dropdown {
    display: flex;
    align-items: center;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transition: $tr;

    &.open {
      opacity: 1;
      position: relative;
      pointer-events: inherit;
    }
  }

  &__table-dropdown-item {
    background: rgba(255, 180, 0, 0.3);
    border-radius: 5px;
    padding: 7px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 10px;
    margin-right: 7px;
    text-align: center;
    min-width: 100px;

    .like {
      color: $gc;
      display: inline-flex;
      align-items: center;
      margin-left: 10px;

      img {
        margin-right: 5px;
      }
    }
  }

  .dropdown-js {
    cursor: pointer;
    position: absolute;
    left: 0;
    font-size: 7px;
    color: $gc;
    top: 0;
    transition: $tr;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      margin-left: -4px;
    }

    &.open {
      transform: rotate(180deg);
    }
  }
}