doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title eco products
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')

    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="/icons/fontello/css/icon.css")
  body
    .mobile-wrap
      include includes/menu.pug 
      include includes/control-panel.pug
      .header
        .mobile-container
          a(href="#").header__back.icon-back
          .header__title Эко продукты  
          a(href="#").basket.icon-group-533.notification
      .card-product
        .mobile-container 
          .swiper.product-js
            .swiper-wrapper
              mixin card(img)
                .swiper-slide
                  .card-product__item
                    .card-product__img
                      img(src="img/eco-product"+img+".jpg", alt="")
                    .card-product__name
                    .card-product__price
                    a(href="#").card-product__btn
                      img(src="img/ecoferma.svg")
                      | Ecoferma Market 
                    a(href="#").btn Подробнее  
              +card('1')
              +card('2')
              +card('3')
            .swiper-pagination  

      .card 
        .mobile-container 
          mixin card(img,title)
            .card__item
              .card__item-bg(style=`background-image: url('img/card${img}.jpg')`)
                .card__info 
                  .card__title!=title
                  div 
                    .card__rating
                      .rating-widget
                        .rating-stars.text-center
                          ul#stars
                            li.star(data-value='1')
                              i.icon-action-off
                            li.star(data-value='2')
                              i.icon-action-off
                            li.star(data-value='3')
                              i.icon-action-off
                            li.star(data-value='4')
                              i.icon-action-off
                            li.star(data-value='5')
                              i.icon-action-off
                    .card__subtitle цена за один день <br> 818 сом
          +card('1','Six Box')
          +card('2','Eat Fit Healthy')
          +card('3','Food Project')
          +card('4','Malina Eco Food')
          +card('5','Grow Food')
          +card('6','Healthy Food')

      
    script(src='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src="scripts.js") 