doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title more
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')

    link(rel="stylesheet", href="styles.css")
    script(src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full") 

  body    
    .mobile-wrap
      include includes/control-panel.pug
      .mobile-container 
        .header
          .mobile-container
            a(href="#").header__back.icon-back
            .header__title Политика конфиденциальности
            a(href="#").basket.icon-group-533.notification
      .mobile-container
        .description
          p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium senectus faucibus porttitor nec facilisis pretium ut nam at. Pellentesque facilisi malesuada velit fames ligula consectetur. Nunc viverra pulvinar luctus tempor, id eu varius. 
          ul.description__ul
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, corporis quas cumque tenetur optio recusandae quaerat error ducimus ab quis.  
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, corporis quas cumque tenetur optio recusandae quaerat error ducimus ab quis.  
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, corporis quas cumque tenetur optio recusandae quaerat error ducimus ab quis.  
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, corporis quas cumque tenetur optio recusandae quaerat error ducimus ab quis.  
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, corporis quas cumque tenetur optio recusandae quaerat error ducimus ab quis.  
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, corporis quas cumque tenetur optio recusandae quaerat error ducimus ab quis.  
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, corporis quas cumque tenetur optio recusandae quaerat error ducimus ab quis.
          p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum voluptate nihil impedit enim, quod, veritatis, laudantium dolor deserunt iusto accusamus ex aliquam? At nesciunt, ipsam eligendi autem quam eius libero? Impedit, amet id cumque eaque aspernatur nobis quod facere officia ab aperiam obcaecati necessitatibus natus? Libero saepe iste labore est.    


