doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title swipe
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')

    link(rel="stylesheet", href="styles.css")
    script(src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full") 

  body
    
    .control-panel.mobile-container
      mixin controler(icon, name, active)

        .control-panel__item(class=active)
          .control-panel__icon
            i
          .control-panel__name=name

      +controler('','Главная','active')
      +controler('','Блюда','')
      +controler('','Кабинет','')
      +controler('','Марафон','')
      +controler('','Еще','')
    .head
      .mobile-container
        a(href="#").head__filter.icon-arrow
        .head__title Корзина
        a(href="#").basket.icon-cart.notification
    .swipe 
      .mobile-container
        .swiper.swipe-js
          .swiper-wrapper
            .swiper-slide
              .swipe__item
                img(src="img/swipe1.jpg", alt="")
                .swipe__desc 
                  h2 Тушеные овощи на пару
                  span КБЖ: 322  23  6
                  span Время приготовления: 50 мин
                .swipe__control 
                  .swipe__control-item 
                  .swipe__control-item 
                  .swipe__control-item 

            .swiper-slide
              .swipe__item
                img(src="img/swipe2.jpg", alt="")
            .swiper-slide
              .swipe__item
                img(src="img/card2.jpg", alt="")
            .swiper-slide
              .swipe__item
                img(src="img/swipe1.jpg", alt="")
            .swiper-slide
              .swipe__item
                img(src="img/swipe2.jpg", alt="")
            .swiper-slide
              .swipe__item
                img(src="img/card2.jpg", alt="")
      
    
    script(src='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    
    script(src="scripts.js")
     