
.icon-angle-down:before { content: '\e800'; } /* '' */
.icon-back:before { content: '\e801'; } /* '' */
.icon-chrome-1:before { content: '\e802'; } /* '' */
.icon-clock-1:before { content: '\e803'; } /* '' */
.icon-close:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-favorite:before { content: '\e806'; } /* '' */
.icon-filtr:before { content: '\e807'; } /* '' */
.icon-group-311:before { content: '\e808'; } /* '' */
.icon-group-325:before { content: '\e809'; } /* '' */
.icon-group-531:before { content: '\e80a'; } /* '' */
.icon-group-533:before { content: '\e80b'; } /* '' */
.icon-group-540:before { content: '\e80c'; } /* '' */
.icon-group-541:before { content: '\e80d'; } /* '' */
.icon-ar:before { content: '\e80e'; } /* '' */
.icon-home-off:before { content: '\e80f'; } /* '' */
.icon-ins:before { content: '\e810'; } /* '' */
.icon-map-pin-1:before { content: '\e811'; } /* '' */
.icon-newsoff:before { content: '\e812'; } /* '' */
.icon-percent:before { content: '\e813'; } /* '' */
.icon-swipe-close:before { content: '\e815'; } /* '' */
.icon-swipe-heart:before { content: '\e816'; } /* '' */
.icon-swipe-star:before { content: '\e817'; } /* '' */
.icon-tg:before { content: '\e818'; } /* '' */
.icon-tw:before { content: '\e819'; } /* '' */
.icon-union:before { content: '\e81a'; } /* '' */
.icon-user-1:before { content: '\e81b'; } /* '' */
.icon-vector-(stroke):before { content: '\e81c'; } /* '' */
.icon-vector-(stroke)-1:before { content: '\e81d'; } /* '' */
.icon-vector:before { content: '\e81e'; } /* '' */
.icon-wp:before { content: '\e81f'; } /* '' */
.icon-action-off:before { content: '\e820'; } /* '' */
