.filter
  .mobile-container
    h2.filter__title По класификации:
    mixin checkbox(label, id)  
      .checkbox
        label(for="id"+id)=label
        .checkbox__wrap 
          input(type="checkbox" id="id"+id)
          span
    +checkbox('Супы','1')      
    +checkbox('Вторые блюда','2')      
    +checkbox('Десерты','3')      
    +checkbox('Салаты','4')      
    +checkbox('Перекусы','5')      
    +checkbox('Детское меню','6')       
    +checkbox('Компоты','7')      
    +checkbox('Вегетерианское','8')     

  
    h2.filter__title Степень сложности:
    .range-slider
      input.range-slider__range(type='range' value='1' min='1' max='5')
      span.range-slider__value
      span.range-slider__content Низкое
    h2.filter__title Содержание белка:
    .range-slider
      input.range-slider__range(type='range' value='1' min='1' max='5')
      span.range-slider__value
      span.range-slider__content Низкое
    h2.filter__title Содержание протеина:
    .range-slider
      input.range-slider__range(type='range' value='1' min='1' max='5')
      span.range-slider__value
      span.range-slider__content Низкое
    h2.filter__title Содержание калорий:
    .range-slider
      input.range-slider__range(type='range' value='1' min='1' max='5')
      span.range-slider__value
      span.range-slider__content Низкое

    h2.filter__title Время приготовления:
    .filter__time 
      .filter__time-item 
        label(for="from") от 
        .filter__time-input
          input(type="number" id="from" min="0" value="0") 
          | мин
      .filter__time-item 
        label(for="to") до
        .filter__time-input
          input(type="number" id="to" min="0" value="0")
          | мин 