.menu
  .header
    .mobile-container
      a(href="#").header__back.icon-back
      .header__title Еще
      a(href="#").basket.icon-group-533.notification
  .mobile-container
    ul.nav
      li 
        a(href="#") О компании  
      li 
        a(href="#") Контакты 
      li 
        a(href="#") Пользовательское соглашение
      li 
        a(href="#") Политика конфиденциальности
